<p>请保证服务器端口已经配置好mp4服务且安装配置sun服务</p>

<table>
	<tr>
		<td>server</td><td>ip</td><td>当前链接数</td><td>状态</td><td>删除</td>
		{{#list servers}}
		<tr>
			<td>{{name}}</td><td>{{host}}</td><td>{{link}}</td><td>{{status}}</td>
			<td>
				<a href="#" onclick="sub_delete('{{host}}')" >删除</a>
				<a href="#" onclick="up('{{host}}')" >上线</a>
				<a href="#" onclick="down('{{host}}')" >下线</a>
			</td>
		</tr>
		{{/list}}
	</tr>
</table>

<script>
	function sub_delete (host) {
		$.ajax({
			url: "/server/" + host,
			type: "DELETE",
			success: function () {
				alert("ok");
			}
		});
	}
	function up(host){
		$.ajax({
			url: "/server/up/" + host,
			type: "POST",
			success: function () {
				alert("ok");
			}
		});
	}
	function down(host){
		$.ajax({
			url: "/server/down/" + host,
			type: "POST",
			success: function () {
				alert("ok");
			}
		});
	}
</script>