<script type="text/javascript" src="/static/js/zerocliboard.js"></script>

<form id="search_form" action="/resource/list/" method="POST">
	<table>
		<tr><td>path</td><td><input type="text" name="path" value="{{path}}"/></td></tr>
		<tr><td>uri</td><td><input type="text" name="uri" value="{{uri}}" /></td></tr>
		<tr><td><input type="submit" value="查询" /></td></tr>
	</table>
</form>
<a href="/resource/upload">上传资源</a>
<input type="hidden" id="pageno" value="{{page}}">
<table>
	<tr>
		<td>path name</td><td>real path</td><td>delete</td><td>update</td><td>copy</td>
		{{#list resource}}
		<tr>
			<td>{{path}}</td><td> {{uri}}</td>
			<td><a href="#" onclick="sub_delete('{{uri}}')">delete</a></td>
			<td><a href="/resource/update/{{uri}}">update</a></td>
			<td><button class="btncpy" data="{{uri}}">copy</button></td>
		</tr>
		{{/list}}
	</tr>
</table>

<p><a href="#" onclick="pre()">上一页</a>  <a href="#" onclick="next()">下一页</a></p>

<script>
	function sub_delete(uri){
		$.ajax({
			url: "/resource/" + uri,
			type: 'DELETE',
			success: function () {
				alert("ok");
			}
		});
	}
	function pre () {
		var curr = parseInt($("#pageno").val());
		curr = curr - 1;
		$("#search_form").attr("action", "/resource/list/" + curr);
		$("#search_form").submit();
	}

	function next () {
		var curr = parseInt($("#pageno").val());
		curr = curr + 1;
		$("#search_form").attr("action", "/resource/list/" + curr);
		$("#search_form").submit();
	}

	$(".btncpy").each(function () {
		console.log("ok");
		var clip = new ZeroClipboard.Client(); 
		clip.setHandCursor( true );
		var uri = $(this).attr("data");
		var txt = "http://" + location.host + "/request/" + uri;
		clip.setText(txt);
		clip.glue(this);
		clip.reposition();
	});

</script>
